*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
canvas {
  height: 100vh;
  width : 100vw;
}

section { 
  height: 100vh;
  width: 100vw;
  display: flex;
}

section div:nth-of-type(1) {
  height: 100vh;
  width: 50vw;
  background-color: #DB8468;
}

section div {
  height: 100vh;
  width: 50vw;
  background-color: black;
}